/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.08.2017, 1:14:05
    Author     : 1
*/

body {
        width: 100%;
        height: 100%;
}

h2 {
        text-align: center;
        width: 400px;
        margin: 0 auto;
        font-family: Isocpeur;
        font-size: 40px;
}

.data-ajax {
    
}

.container {
        width: 900px;
        margin: 0 auto;
        border-width: 2px;
        font-family: 'Isocpeur', sans-serif;
}

form {
        width: 400px;
        margin: 0 auto;
        border-width: 2px;
}
    
.field {
        color: black;
        font: 14px Isocpeur;
}

.button {
        color: black;
        font: 14px Isocpeur;
        padding-left: 20px;
        padding-right: 20px;
}    

input {
        color: black;
        font: 14px Isocpeur;
        padding-left: 5px;
        padding-right: 5px;
}

textarea {
        font: 14px Isocpeur;
        
}

.overview{
        width: 900px;
        margin: 0 auto 30px;
        background: #C0C0C0;
        border-radius: 5px;
        box-shadow: #666 2px 2px 3px;
        padding: 10px;

}

.overview_title {
        color: black;
        width: 40%;
        font: 16px Isocpeur;
        font-weight: normal;
        padding: 10px;
        border: none;

        
}

.overview_summary {
        color: black;
        text-decoration: none;
        font: 16px Isocpeur;
        width: 100%;
        font-weight: normal;
        padding: 10px;
        margin: 0 auto 0;
}

.overview_summary:hover {color: white;}


.overview_date {
        color: black;
        width: 100%;
        font: 14px Isocpeur;
        padding: 10px;

}


.view {
        width: 800px;
        margin: 0 auto 30px;
        background: #C0C0C0;
        border-radius: 5px;
        box-shadow: #666 2px 2px 3px;
        padding: 10px;

}

.view_title {
        color: black;
        width: 40%;
        font: 16px Isocpeur;
        font-weight: bold;
        padding: 10px;
        border: none;

        
}

.view_summary {
        color: black;
        font: 16px Isocpeur;
        width: 100%;
        font-weight: normal;
        padding: 10px;
        margin: 0 auto 0;

    
}

.view_author {
        color: black;
        width: 100%;
        font: 14px Isocpeur;
        padding: 10px;

}
.view_date {
        color: black;
        width: 100%;
        font: 14px Isocpeur;
        padding: 10px;

}

.view_content {
        color: black;
        font: 14px Isocpeur;
        font-style: italic;
        padding: 30px;

}

.menu-main {
  list-style: none;
  margin: 10px 0 5px;
  padding: 10px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Isocpeur', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 5px 0 5px;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: black;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}

.pagination li  {
  display: inline-block;
  
}

.pagination {
  padding-left: 0px;
}

.pagination a {
  text-decoration: none;
  font-family: 'Isocpeur', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  padding: 5px;
  margin: 0 0px 0 0px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
  border-width: thin;
  border-style: solid;
  border-color: black;
}

a.page {color: black;}

a.active-page {color: red;}

a.page:hover {color: red;}